.product__case-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.advantages {
  padding-top: 30px;
  padding-bottom: 60px;
}

.advantages ul li {
  margin-left: 20px;
  list-style:disc ;
}
